*{
  box-sizing: border-box;
}
body{
  background-color: #000;
  margin: 0;
  padding: 0;
}
.miss{
  background: url(miss_transparent.png) no-repeat center;
  background-size: contain;
}
.ship-hit{
  background: url('ship_transparent.png') no-repeat center;
  background-size: contain;
}
.stop{
  transform: translate(0);
}
#message-area{
  position: absolute;
  top: 100px;
  left: 30px;
  width: 300px;
  height: 100px;
  background-color: #000;
  color: #73932D;
  border: 1px solid #73932D;
  text-align: center;
  transition: .5s;
  transform: translateY(-200%);
  //opacity: 0;
}
#message-area p{
  text-align: center;
  line-height: 100px;
  margin: 0;
}
#battel-ship{
  margin: -35px auto 0 auto;
  background: url(https://talesofatechnophile.files.wordpress.com/2015/05/board.jpg)center;
  background-size: cover;
  width: 800px;
  height: 620px;
  transition: 3s;
  opacity: 0;
  overflow: hidden;
}
#battel-ship img{
  object-fit: cover;
  width: 800px;
  height: 100vh;
}
table{
  width: 66%;
  position: relative;
  top: 49px;
  left: -3px;
  margin: 0 auto;
}
table tr{
  height: 73px;
}
table tr td{
  width: 70px;
  text-align: center;
  border: 1px solid #73932D;
}
form{
  color: #73932D;
  position: absolute;
  bottom: 100px;
  right:110px;
  border: 1px solid;
  padding: 25px;
  opacity: 0;
  transition: 5s;

}
input:first-of-type{
  display: block;
  margin-bottom: 25px;
  height: 30px;
  font-size: 16px;
}
#fire-btn:hover{
  cursor: pointer;
  background-color: red;
  color: white;
  font-weight: bold;
}
